{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list page-personas-list {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="intro">
  <div class="inner">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 align-self-center">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container whitebox">
    <div class="row justify-content-center content">
      {{ range .Pages }}
        <div class="col-6 col-md-3 persona-item">
          <div class="main-photo"><a href="{{ .Permalink }}"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="Persona image for {{ .Params.title }}"/></a></div>
          <div><a href="{{ .Permalink }}">{{ .Params.title }}</a></div>
        </div>
        {{ end }}
    </div>
  </div>
</div>

{{ end }}
