{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single page-persona {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
  <div class="strip strip-grey">
    <div class="container whitebox">
      <div class="row">
        <div clas="col-12">
          {{ partial "breadcrumbs.html" . }}
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-11">
          <div class="persona persona-single">
            <div class="persona-pdf small"><a href="{{ .Site.BaseURL }}{{ .Params.pdf }}">Download as PDF</a></div>
            <div class="persona-photo"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" /></div>
            <h1 class="title">{{ .Params.country}}: {{.Title}}</h1>
            <div class="role"> {{ .Params.role }}</div>
            <div class="quote"> {{ .Params.short_quote }}</div>
            <div class="content">
              {{.Content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
