
.slick-dotted.about-carousel {
  padding-top: 320px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  h3 {
    color: $secondary;
    text-align: center;
    font-size: 1.4rem;
  }
  .slick-slide {
    text-align: center;
    li {
      margin: 0;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 12rem;
      padding-right: 12rem;
    }
  }
  .slick-dots {
    bottom: auto;
    top: 0;

    li {
      width: 272px;
      height: 272px;
      opacity: 0.3;
      padding: 15px;
      margin: 0 1rem;
      border: #fff solid 1px;
      border-radius: 200px;
      border: $primary solid 1px;
      display: none;
      @include media-breakpoint-up(xl) {
        display: inline-block;
      }
    }
    li.slick-active {
      opacity: 1;
      display: inline-block;
    }
    li button::before {
      color: transparent;
    }
    li button {
      height: 240px;
      width: 240px;
      border-radius: 200px;
    }
    li, li button {
      cursor: auto;
      @include media-breakpoint-up(md) {
        cursor: pointer;
      }
    }
    li:nth-child(2) {
      border: $green solid 1px;
    }
    li:nth-child(3) {
      border: $orange solid 1px;
    }
    #slick-slide-control00 {
      li {
        margin: 0;
      }
      background: $secondary url(../images/who-we-work-with-slides/briefcase-icon_WHT.svg) no-repeat center center;
    }
    #slick-slide-control01 {
      li {
        margin: 0;
      }
      background: $green url(../images/who-we-work-with-slides/tools-icon_WHT.svg) no-repeat center center;
    }
    #slick-slide-control02 {
      li {
        margin: 0;
      }
      background: $orange url(../images/who-we-work-with-slides/lock-icon_WHT.svg) no-repeat center center;
    }
  }
  button.prev-arrow, button.next-arrow {
    background-color: transparent;
    border: none;
    color: $primary;
    position: absolute;
    bottom: -3%;
    z-index: 100;
    cursor: pointer;
    span {
      text-indent: -9999px;
      overflow: hidden;
      display: inline-block;
    }
    @include media-breakpoint-up(lg) {
      bottom: 25%;
    }
    font-size: 1.5rem;
  }
  button.prev-arrow {
    left: 2rem;
    @include media-breakpoint-up(lg) {
      left: 7rem;
    }
  }
  button.next-arrow {
    right: 2rem;
    @include media-breakpoint-up(lg) {
      right: 7rem;
    }
  }
}
