@font-face {
  font-family: 'montserrat-bold';
  src: url('../fonts/montserrat-bold.woff2') format('woff2'),
       url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-semibold';
  src: url('../fonts/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'),
       url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
