.footer {
  background-image: linear-gradient(to top, #001a39 0%, #002c61 100%);
  color: #fff;
  padding: 2rem;
  .footer-inner {
      padding-top: 1rem;
  }
  a {
    color: #fff;
    font-weight: bold;
  }
  p {
    color: #fff;
  }
  .footer-logo img {
    margin: 2rem 0 0.5rem;
    @include media-breakpoint-up(md) {
      margin: 2.5rem 0;
    }
  }
  .footer-menu {
    a {
      font-family: $font-family-heading;
      color: #fff;
    }
    li {
      .child-menu {
        margin: 1rem 0;
        li {
          padding: 0 1.5rem;
          margin-bottom: 0.5rem;
          a {
            font-family: $font-family-base;
            color: $light-blue;
          }
        }
      }
      &.home {
        display: none;
      }
      &.about, &.blog, &.events, &.personas, &.contact, &.sitemap, &.privacy-policy {
        margin: 1rem 0;
        @include media-breakpoint-up(md) {
          width: 190px;
          float: left;
          .child-menu {
            li {
              padding: 0;
            }
          }
        }
      }
      &.about, &.blog, &.events, &.personas {
        @include media-breakpoint-up(md) {
          height: 200px;
        }
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: block;
      margin-right: 10px;
      color: lighten($secondary, 50%);
      font-size: 0.95rem;
      line-height: 1.8;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: lighten($secondary, 50%);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.copyright {
        font-weight: bold;
        color: lighten($secondary, 50%);
        display: none;
        @include media-breakpoint-up(md) {
          display: inline-block;
        }
      }
    }
    @include media-breakpoint-up(sm) {
      height: inherit;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: flex-end;
      li {
        list-style: none;
        a {
          display: inline-block;
          font-weight: 300;
        }
      }
    }
  }
}
