<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">

  <!-- CSS -->
  {{- $inServerMode := .Site.IsServer }}
  {{- $cssTarget := "css/style.css" }}
  {{- $cssOptions := cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
  {{- $style := resources.Get "scss/style.scss" | toCSS $cssOptions }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">

  {{ block "header_css" . }}{{ end }}

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

  <div class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>

  <div class="footer">
    {{ partial "footer.html" . }}
    {{ partial "sub-footer.html" . }}
  </div>

  {{ $jquery := resources.Get "./js/jquery.min.js" }}
  {{ $slick := resources.Get "./js/slick.min.js" }}
  {{ $list := resources.Get "./js/list.min.js" }}
  {{ $scripts := resources.Get "./js/scripts.js" }}
  <script type="text/javascript" src="{{ $jquery.Permalink }}"></script>
  <script type="text/javascript" src="{{ $slick.Permalink }}"></script>
  <script type="text/javascript" src="{{ $list.Permalink }}"></script>
  <script type="text/javascript" src="{{ $scripts.Permalink }}"></script>

</body>
</html>
