<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ block "meta_tags" . }}{{end}}
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.png">

  <!-- CSS -->
  {{- $inServerMode := .Site.IsServer }}
  {{- $cssTarget := "css/style.css" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $cssTarget }}">

  {{ block "header_css" . }}{{ end }}

  {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

  <div class="wrapper">
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
  </div>

  <div class="footer">
    {{ partial "footer.html" . }}
    {{ partial "sub-footer.html" . }}
  </div>

  {{ $jquery := resources.Get "./js/jquery.min.js" }}
  {{ $slick := resources.Get "./js/slick.min.js" }}
  {{ $listjs := resources.Get "./js/list.min.js" }}
  {{ $scripts := resources.Get "./js/scripts.js" }}
  <script type="text/javascript" src="{{ $jquery.Permalink }}"></script>
  <script type="text/javascript" src="{{ $slick.Permalink }}"></script>
  <script type="text/javascript" src="{{ $listjs.Permalink }}"></script>
  <script type="text/javascript" src="{{ $scripts.Permalink }}"></script>

</body>
</html>
