.page-personas-list {
  .intro {
    color: #fff;
    background-color: $orange;
    background: url(../images/personas/alex-radelich-462768-unsplash.png) no-repeat center center;
    background-size: auto 100%;
    @include media-breakpoint-up(lx) {
    }
    @media (min-width: 1576px) {
      background-size: 100% auto;
    }
    object-fit: cover;
    h1 {
      color: #fff;
    }
    .inner {
      background-color: rgba(0,45,89,0.7);
    }
  }
  .whitebox {
    @include media-breakpoint-up(md) {
      padding: 3rem 5rem;
    }
  }
  .persona-item {
    padding: 1rem;
    list-style-type: none;
    .hidden {
      visibility: hidden;
      position: absolute;
      left: -9999px;
      overflow: hidden;
    }
    @include media-breakpoint-up(md) {
      padding: 3rem;
    }
    text-align: center;
  }
  #personas-list {
    .search {
      min-width: 400px;
    }
  }
}
