{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
{{ $permalink := .Permalink }}
{{ $base_url := .Site.BaseURL }}
{{ $title := .Title }}

<ol class="breadcrumb small">
  <li class="breadcrumb-item"> <a href="{{ $base_url }}">Home</a>  <i class="fa fa-chevron-right" aria-hidden="true"></i> </li>
  {{ range $index, $element := split $url "/" }}
    {{ if eq $element "blog"}}
      <li class="breadcrumb-item"> <a href="{{ $base_url }}blog"> {{ humanize (replace . "posts" "blog") }}</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> </li>
    {{ else if eq $element "personas"}}
      <li class="breadcrumb-item"> <a href="{{ $base_url }}personas"> {{ humanize (replace . "posts" "personas") }}</a> <i class="fa fa-chevron-right" aria-hidden="true"></i> </li>
    {{ else if ne $element "" }}
      <li class="breadcrumb-item active"> {{ $title }} </li>
    {{ end }}

  {{ end }}
</ol>
