  <li>
    <a class="social-twitter" href="{{ .Site.Params.contact_us.twitter }}" target="blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a>
  </li>
  <li>
    <a class="social-github" href="{{ .Site.Params.contact_us.github }}" target="blank"><i class="fab fa-github"></i> <span>GitHub</span></a>
  </li>
  <li>
    <a class="social-email" href="mailto:{{ .Site.Params.contact_us.email }}" target="blank"><i class="fas fa-envelope"></i> <span>Email</span></a>
  </li>
  <li>
    <a class="social-feed" href="{{ .Site.Data.contact_us.feed }}" target="blank"><i class="fas fa-rss"></i> <span>Feed</span></a>
  </li>
