{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-list page-event-list {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="intro">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container">
    {{ range (.Pages.ByParam "eventdate" ).Reverse }}
    <div class="row whitebox justify-content-left">
      <div class="col-12 col-sm-6 event-list-photo">
        <img src="{{ .Site.BaseURL }}/{{ .Params.main_image }}" alt="{{ .Params.main_image_caption }}" />
      </div>
      <div class="col-12 col-sm-6 event-list-content">
        <h2><a href="{{ .Permalink }}">{{ .Title}}</a></h2>
        <div class="summar"> {{ .Summary }} </div>
        <div class="event-more-link"><a href="{{ .Permalink }}">Find out more</a></div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
