{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-default-single page-event {{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="strip strip-grey">
  <div class="container whitebox">
    <div class="row justify-content-center content">
      <div class="col-12 col-md-8">
        <div class="event event-single">
          <h1 class="title">{{.Title}}</h1>
          <div class="main-photo"><img src="{{ .Site.BaseURL }}/{{ .Params.main_image }}" alt="{{ .Params.main_image_caption }}" /></div>
          <div class="content">
            {{.Content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
